<%- include layouts/header.ejs %>
<%- include layouts/nav.ejs %>

<div class="container">
	<h1>Add Artikel</h1>

	<br><br>
	<form method="POST" action="/artikel/store" enctype="multipart/form-data">
		
		<div class="form-group">
			<input type="text" name="title" placeholder="Title..." class="form-control">
		</div>

		<div class="form-group">
			<textarea name="description" class="form-control" placeholder="Description..."></textarea>
		</div>

		<div class="form-group">
			<select name="category_id" class="form-control">
				<option>Pilih Category</option>
				<% categorys.forEach(function (category) { %>
			    	<option value="<%= category.id %>"><%= category.name %></option>
			    <% }); %>
			</select>
		</div>

		<div class="form-group">
			<input type="file" name="photo" class="form-control">
		</div>

		<div class="form-group">
			<input type="submit" name="submit" value="Submit" class="btn btn-success">
		</div>

	</form>

</div>

<%- include layouts/footer.ejs %>
